PORT=4000
REDIS_URL=redis://127.0.0.1:6379
SIKDAE_API_BASE_URL=https://api.sikdae.com

SIKDAE_OAUTH_BASE_URL=
SIKDAE_SIGN_ID=
SIKDAE_PASSWORD=
SIKDAE_CLIENT_ID=
SIKDAE_CLIENT_SECRET=
SIKDAE_KMS_KEY_ID=
SIKDAE_X_USER_AGENT=
